CORR_QA_URL=https://ext-qa.lpcorrtest.com/cp/

USERNAME=Correspondent Bid Maps Menu
PASSWORD=Welcome@123

INTERNAL_USERNAME=testsigma_internal
INTERNAL_PASSWORD=Welcome@123

EXTERNAL_USERNAME=testsigma_external
EXTERNAL_PASSWORD=Welcome@123